@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	--bg: #010409;
	--text: #ffffff;
}

*,
body,
html {
	padding: 0;
	margin: 0;
	user-select: none;
}

body,
html,
#__next {
	background-color: var(--bg);
	color: var(--text);
	font-family: 'Roboto', sans-serif;

	height: 100%;
	width: 100%;
}

.clickable {
	transition: background 0.075s;
}

.clickable:hover {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 2px;
}
